.container.text-center
  nav.mb-4
    = link_to 'New Team', new_team_path, class: 'btn btn-primary'

  h1 Teams

  table.table.table-striped
    thead
      tr
        th Name
        th League
        th Country
        th City
        th Logo
        th Actions

    tbody
      - @teams.each do |team|
        - frame_id = dom_id(team, "row_turbo_frame")
        = turbo_frame_tag frame_id do
          tr
            td 
              = team.name
            td = team.league.name
            td = team.location
            td = team.city

            td
              - if team.logo.attached?
                = image_tag team.logo, style: 'max-width: 100px;'
              - else
                | No logo

            td
              = link_to 'Show', team, class: 'btn btn-secondary'
              = link_to 'Edit', edit_team_path(team), class: 'btn btn-primary'
              = link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
