div id=dom_id(@team) class="text-center"
  h1 Team Details

  p
    strong Name:
    = @team.name

  p
    strong City:
    = @team.city

  p
    strong League:
    = @team.league.name

  - if @team.logo.attached?
    p
      strong Logo:
      br
      = image_tag @team.logo, style: 'max-width: 200px;'

  .btn-group.mt-3 role="group"
    = link_to 'Edit', edit_team_path(@team), class: 'btn btn-primary'
    = link_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
    = link_to 'Back to Teams', teams_path, class: 'btn btn-secondary'
    = link_to 'Show on Map', '#', id: 'show-on-map', class: 'btn btn-info'
    = link_to 'Show History', '#', id: 'show-history', class: 'btn btn-primary'

br

.map-history-ranking-container
  .map-history-container
    #map(
      data-lat=@team.lat
      data-lng=@team.lng
      data-logo=url_for(@team.logo)
      data-name=@team.name
      data-city=@team.city
    )

    #history(style="display: none;" data-team-id=@team.id)
      h2 Match History
      table.table.table-striped
        thead
          tr
            th Home Team
            th Away Team
            th Score
            th Outcome
        tbody

  br

  #ranking(style="display: none;")
    h2 League Ranking
    table.table.table-striped
      thead
        tr
          th Ranking
          th Team
          th Matches
          th Wins
          th Points
      tbody
