<div id="<%= dom_id league %>">
  <p>
    <strong>Name:</strong>
    <%= league.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= league.country %>
  </p>

  <% if league.logo.attached? %>
    <p>
      <strong>Logo:</strong>
      <%= image_tag league.logo %>
    </p>
  <% end %>
</div>
