/*
*= require leaflet
*/

@import "bootstrap";

// Styl dla grup formularzy
.form-group {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

// Styl dla kontenera strony z detalami ligi
#league-show {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#league-show img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

// Styl dla kontenera z treścią wyśrodkowaną
.center-content {
  text-align: center;
  margin-top: 20px;
}

// Styl dla ikon SVG
.icon-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 80px;
  position: relative;
}

// Styl dla pinezki
.icon-container {
  position: relative;
}

.icon-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #ff0000;
}

// Kontener dla mapy, tabeli historii i tabeli rankingu
.map-history-ranking-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

// Kontener dla mapy i tabeli historii w poziomie
.map-history-container {
  display: flex;
  gap: 20px;
  flex: 1;
}

// Styl dla mapy
#map {
  flex: 2;
  max-width: 100%;
  height: 500px;
  display: none;
}

// Styl dla tabeli historii meczów
#history {
  flex: 1;
  overflow-y: auto;
  max-height: 500px;
  border-left: 1px solid #ddd;
}

// Kontener dla tabeli rankingu
#ranking {
  border-top: 1px solid #ddd;
}

// Styl dla nagłówków tabeli, aby były widoczne podczas przewijania
table.table thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 1;
}

// Styl dla wierszy tabeli
table.table tbody tr.highlighted {
  background-color: #f0f0f0 !important;
}

// Styl dla pozostałych wierszy
table.table tbody tr {
  transition: background-color 0.5s;
}

// Styl dla animacji fade-in nowych wierszy tabeli
table tbody tr {
  transition: opacity 1s;
}
