/*
*= require leaflet
*/

@import "bootstrap";

.form-group {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#league-show {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#league-show img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.center-content {
  text-align: center;
  margin-top: 20px;
}

/* Styl dla SVG z logo */
.icon-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; /* Szerokość ikony */
  height: 80px; /* Wysokość ikony */
  position: relative;
}

/* Styl dla pinezki */
.icon-container {
  position: relative;
}

.icon-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #ff0000; /* Kolor stożka */
}

/* Styl dla wierszy tabeli */
table.table tbody tr.highlighted {
  background-color: #f0f0f0 !important; /* Jasno szare tło dla podświetlonych wierszy */
}

/* Styl dla pozostałych wierszy */
table.table tbody tr {
  transition: background-color 0.5s; /* Płynne przejście zmiany koloru tła */
}

/* Dla animacji fade-in nowych wierszy tabeli */
table tbody tr {
  transition: opacity 1s;
}

/* Kontener dla mapy i tabeli */
.map-history-container {
  display: flex;
  gap: 20px; /* Odstęp między mapą a tabelą */
}

/* Styl dla mapy */
#map {
  flex: 2;
  max-width: 100%;
  height: 500px; /* Ustawienie wysokości mapy */
  display: none; /* Ukrywa mapę domyślnie */
}

/* Styl dla tabeli */
#history {
  flex: 1;
  overflow-y: auto; /* Umożliwia przewijanie, jeśli tabela jest zbyt długa */
  max-height: 500px; /* Ustawienie maksymalnej wysokości dla tabeli */
}

/* Styl dla nagłówków tabeli, aby były widoczne podczas przewijania */
table.table thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa; /* Kolor tła nagłówków */
  z-index: 1; /* Aby nagłówki były nad innymi elementami */
}
